#logo {
    float: left;
    width: 230px;
    padding: 10px;
}

#header-wrapper {
    background-color: lightblue;
    margin: 0px 0px 0px 0px;
}

.header-button {
    float: left;
    margin: 15px 15px 0px 0px ;
    background-color: #5bc0de;
    color: white;
}

.logout-button {
    float: right;
    margin: 15px 15px 0px 0px;
}

.info-table {
    margin: 30px 300px 30px 300px;
    -webkit-box-shadow: 14px 0px 11px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 14px 0px 11px -10px rgba(0,0,0,0.75);
    box-shadow: 14px 0px 11px -10px rgba(0,0,0,0.75);
}

.info-input {
    margin: 10px 100px 10px 100px;
}

.account-user-pic {
    width: 130px;
    padding: 5px;
    margin: 10px 50px 10px 350px;
}

.calculate-button {
    margin: 0px 20px 10px 500px;
}

.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}
