{% extends 'layout.html'%}
{% block content %}

<div id="header-wrapper">
    <header class="clearfix">
        <img id="logo" src="{{url_for('static', filename='logo/mfg-logo.png') }}" alt="Myfinance">
        <button class="header-button btn" >Account</button>
        <button class="header-button btn " >Finance</button>
        <button class="header-button btn " >Grafic</button>
        <button class="header-button btn " >Calendar</button>
        <!-- Ide jöljön az if session -->
        <button class="logout-button btn btn-danger" >Logout</button>
        <!-- else "Hello" + username -->
    </header>
</div>
{% endblock %}